<form>
<div class="card-header d-flex justify-content-between align-items-center">
  <span>Product</span>
  <button class="btn btn-dark w-25" (click)="openModalAdd(addTemplate)">Add</button>
</div>

<div class="m-3">
    <input class="form-control" type="text" [(ngModel)]="filterStr" name="filterStr" placeholder="filter products">
    <hr>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col" (click)="orderBy('id')">ID</th>
            <th scope="col" (click)="orderBy('category.nameEN')">Category</th>
            <th scope="col" (click)="orderBy('nameEN')">Name EN</th>
            <th scope="col" (click)="orderBy('nameUA')">Name UA</th>
            <th scope="col" (click)="orderBy('description')">Description</th>
            <th scope="col" (click)="orderBy('weight')">Weight</th>
            <th scope="col" (click)="orderBy('price')">Price</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prod of productList | filterProduct:filterStr; let i=index">
            <td>{{ prod.id }}</td>
            <td>{{ prod.category.nameEN }}</td>
            <td>{{ prod.nameEN }}</td>
            <td>{{ prod.nameUA }}</td>
            <td>{{ prod.description }}</td>
            <td>{{ prod.weight }}</td>
            <td>{{ prod.price }}</td>
            <td><button class="btn btn-warning" (click)="openModalEdit(editTemplate, prod)">Edit</button></td>
            <td><button class="btn btn-danger" (click)="openModalDel(deleteTemplate, prod)">Delete</button></td>
          </tr>
        </tbody>
      </table>
  </div>
</form>


<ng-template #addTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add product:</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="text-danger" *ngIf="!productValidInput">All fields must be filled:</p>
    <form>
      <div class="form-group">
        <label for="categoryChoose">Choose category:</label>
        <select class="form-control" id="categoryChoose" [(ngModel)]="categoryName" name="categoryName"
                (change)="setCategory()">
          <option *ngFor="let category of categoryList">
            {{category.nameEN}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="productNameEN">Name EN</label>
        <input type="text" class="form-control" id="productNameEN" [(ngModel)]="productNameEN" name="productNameEN">
      </div>
      <div class="form-group">
        <label for="productNameUA">Name UA</label>
        <input type="text" class="form-control" id="productNameUA" [(ngModel)]="productNameUA" name="productNameUA">
      </div>
      <div class="form-group">
        <label for="productDescription">Product Description</label>
        <textarea class="form-control" name="productDescription" id="productDescription"
                  [(ngModel)]="productDescription"></textarea>
      </div>
      <div class="form-group">
        <label for="productWeight">Weight</label>
        <input type="text" class="form-control" id="productWeight" [(ngModel)]="productWeight" name="productWeight">
      </div>
      <div class="form-group">
        <label for="productPrice">Price</label>
        <input type="number" class="form-control" id="productPrice" [(ngModel)]="productPrice" name="productPrice">
      </div>
      <div class="custom-file mb-3" style="overflow: hidden;" *ngIf="!imageStatus">
        <input (change)="uploadFile($event)" type="file" class="custom-file-input" id="productImage" required>
        <label class="custom-file-label" for="productImage">Choose image...</label>
      </div>
      <div class="progress mb-3" *ngIf="!imageStatus">
        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" aria-valuemin="0"
             aria-valuemax="100" [style.width]="(uploadProgress | async) + '%'"></div>
      </div>
      <div class="image mb-3" *ngIf="imageStatus" style="width: 200px; height: 200px;">
        <img [src]="productImage" alt="" style="width: 100%; height: 100%;">
      </div>
      <button type="button" class="btn btn-success" (click)="addProduct()">Add product</button>
      <button type="button" class="btn btn-dark" (click)="modalRef.hide()">Close</button>
    </form>
  </div>
</ng-template>

<ng-template #editTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit product:</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="text-danger" *ngIf="!productValidInput">All fields must be filled:</p>
    <form>
      <div class="form-group">
        <label for="categoryChoose">Choose category:</label>
        <select class="form-control" id="categoryChoose" [(ngModel)]="categoryName" name="categoryName"
                (change)="setCategory()">
          <option *ngFor="let category of categoryList">
            {{category.nameEN}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="productNameEN">Name EN</label>
        <input type="text" class="form-control" id="productNameEN" [(ngModel)]="productNameEN" name="productNameEN">
      </div>
      <div class="form-group">
        <label for="productNameUA">Name UA</label>
        <input type="text" class="form-control" id="productNameUA" [(ngModel)]="productNameUA" name="productNameUA">
      </div>
      <div class="form-group">
        <label for="productDescription">Product Description</label>
        <textarea class="form-control" name="productDescription" id="productDescription"
                  [(ngModel)]="productDescription"></textarea>
      </div>
      <div class="form-group">
        <label for="productWeight">Weight</label>
        <input type="text" class="form-control" id="productWeight" [(ngModel)]="productWeight" name="productWeight">
      </div>
      <div class="form-group">
        <label for="productPrice">Price</label>
        <input type="number" class="form-control" id="productPrice" [(ngModel)]="productPrice" name="productPrice">
      </div>
      <div class="custom-file mb-3" style="overflow: hidden;" *ngIf="!imageStatus">
        <input (change)="uploadFile($event)" type="file" class="custom-file-input" id="productImage" required>
        <label class="custom-file-label" for="productImage">Choose image...</label>
      </div>
      <div class="progress mb-3" *ngIf="!imageStatus">
        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" aria-valuemin="0"
             aria-valuemax="100" [style.width]="(uploadProgress | async) + '%'"></div>
      </div>
      <div class="image mb-3" *ngIf="imageStatus" style="width: 200px; height: 200px;">
        <img [src]="productImage" alt="" style="width: 100%; height: 100%;">
        <div class="closeIcon" (click)="removeImage()"></div>
      </div>
      <button type="button" class="btn btn-success" (click)="editProduct()">Edit product</button>
      <button type="button" class="btn btn-dark" (click)="modalRef.hide()">Close</button>
    </form>
  </div>
</ng-template>

<ng-template #deleteTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete product:</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delte product?</p>
    <form>
      <button type="button" class="btn btn-outline-secondary" (click)="modalRef.hide()">Cancel</button>
      <button type="button" class="btn btn-danger ml-2" (click)="deleteProduct()">Delete</button>
    </form>
    
  </div>
</ng-template>
