.container {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.discount {
    width: 300px;
    min-height:400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 200px;
    height: 250px;
}