<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>Ім"я</th>
      <th>Телефон</th>
      <th>Доставка</th>
      <th>Дата замовлення</th>
      <th>Статус</th>
      <th>Загальна вартість</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orderList">
      <td>{{ order.id }}</td>
      <td>{{ order.userName }}</td>
      <td>{{ order.userPhone }}</td>
      <td>{{ deliveryUA[order.delivery] }}</td>
      <td>{{ order.dateOrder | date}}</td>
      <td>{{ order.status }}</td>
      <td>{{ order.totalPayment }} грн</td>
      <td><button class="btn btn-warning" (click)="openModal(orderEdit, order)">Edit</button></td>
      <td><button class="btn btn-info" (click)="openModal(orderDetails, order)">Details</button></td>
    </tr>
  </tbody>
</table>

<ng-template #orderDetails>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Деталі замовлення</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Місто</th>
          <th>Вулиця</th>
          <th>Будинок</th>
          <th>Коментар</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{order.id}}</td>
          <td>{{order.userCity}}</td>
          <td>{{order.userStreet}}</td>
          <td>{{order.userHouse}}</td>
          <td>{{order.userComment}}</td>
        </tr>
      </tbody>
    </table>

    <table class="table mt-4">
      <thead>
        <tr style="font-size: small;">
          <th></th>
          <th>Назва товару</th>
          <th>Ціна</th>
          <th>Кількість</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prod of order.ordersDetails">
          <td><img [src]="prod.image" style="width: 60px; height: 60px;"></td>
          <td>{{prod.nameUA}}</td>
          <td>{{prod.price}}</td>
          <td>{{prod.count}}</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <p style="text-align: right;">Total payment: {{order.totalPayment}}</p>
  </div>
</ng-template>

<ng-template #orderEdit>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Редагувати замовлення</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-choose-delivery (deliveryEvent)=selectDelivery($event)></app-choose-delivery>
    <label for="status">Статус</label>
    <input class="form-control" type="text" id="status" name="status" [(ngModel)]="orderStatus">
  </div>
  <div>
    <button class="btn btn-info w-50" (click)="modalRef.hide()">Cancel</button>
    <button class="btn btn-warning w-50" (click)="saveOrderEdit()">Save</button>
  </div>
</ng-template>
