<form>
  <div class="card-header d-flex justify-content-between align-items-center">
    <span>Category</span>
    <button class="btn btn-dark w-25" (click)="openAddModal(addEditTemplate)">Add</button>
  </div>
  <div class="m-3">
    <input class="form-control" type="text" [(ngModel)]="filterStr" name="filterStr" placeholder="filter category">
    <hr>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="tHeader" (click)="sort('id')">ID<i class="ml-1"
               [ngClass]="{'arrow-down': sortIdDown, 'arrow-up': sortIdUp}"></i></th>
          <th scope="col" class="tHeader" (click)="sort('en')">NameEN<i class="ml-1"
               [ngClass]="{'arrow-down': sortNameEnDown, 'arrow-up': sortNameEnUp}"></i></th>
          <th scope="col" class="tHeader" (click)="sort('ua')">NameUA<i class="ml-1"
               [ngClass]="{'arrow-down': sortNameUaDown, 'arrow-up': sortNameUaUp}"></i></th>
          <th scope="col">Delete</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of (categoryList | filterCategory:filterStr)">
          <td>{{category.id}}</td>
          <td>{{category.nameEN}}</td>
          <td>{{category.nameUA}}</td>
          <td><button class="btn btn-outline-danger"
                    mwlConfirmationPopover
                    [popoverTitle]="popoverTitle"
                    [popoverMessage]="popoverMessage"
                    [confirmText]="confirmText"
                    [cancelText]="cancelText"
                    (confirm)="deleteCategory(category)"
                    confirmButtonType="danger"
                    cancelButtonType="outline-secondary">
              Delete
            </button></td>
          <td>
            <button class="btn btn-warning" (click)="openEditModal(addEditTemplate, category)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>

<ng-template #addEditTemplate>
  <div class="modal-header">
    <h4 *ngIf="!editMode" class="modal-title pull-left">Add category:</h4>
    <h4 *ngIf="editMode" class="modal-title pull-left">Edit category:</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="text-danger" *ngIf="!categoryValidInput">All fields must be filled:</p>
    <label>Category name EN:</label>
    <input type="text" class="form-control" [(ngModel)]="nameEN">
    <label>Category name UA:</label>
    <input type="text" class="form-control" [(ngModel)]="nameUA">
    <button class="btn btn-dark mt-2" (click)="modalRef.hide()">Close</button>
    <button *ngIf="!editMode" class="btn btn-success ml-2 mt-2" (click)="addCategory()">Add</button>
    <button *ngIf="editMode" class="btn btn-warning ml-2 mt-2" (click)="editCategory()">Edit</button>
  </div>
</ng-template>
